main {
    min-height: calc(100vh - 160px);
  }

  .card-img-top {
  height: 180px;
  object-fit: cover;
}

.card {
  height: 400px;
  width: 18rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-text {
  max-height: 120px;
  overflow-y: auto;
}